/* ===== Центрирование страницы ===== */
body {
    margin: 0;
    padding: 0;
    background: #f5f5f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

/* ===== Карточка логина ===== */
form {
    background: white;
    padding: 45px 55px;
    border-radius: 15px;
    width: 300px;

    box-shadow:
            0 2px 8px rgba(0,0,0,0.08),
            0 20px 40px rgba(0,0,0,0.06);

    display: flex;
    flex-direction: column;
    gap: 28px;
}

form h2 {
    text-align: center;
    font-size: 28px;
    margin: 0 0 10px 0;
    color: #424242;
}

/* ===== Лейблы ===== */
label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

input {
    text-align: center;
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.2s;
    background: #fafafa;
}

input:focus {
    outline: none;
    border-color: #6d6d6d;
    box-shadow: 0 0 0 3px rgba(80,80,80,0.2);
    background: white;
}

button {
    text-align: center;
    width: 50%;
    padding: 15px;
    background: #000;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #222;
}

button:active {
    transform: scale(0.98);
}
