body {
    background-color: #e5e5e5;
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h4 {
    text-align: center;
    color: #444;
}

form {
    max-width: 400px;
    margin: 80px auto;
    padding: 25px;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

input, button {
    display: block;
    width: 90%;
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    transition: 0.3s;
}
select {
    display: block;
    width: 30%;
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    transition: 0.3s;
}
input:focus, select:focus {
    border-color: #666;
    outline: none;
}


button {
    background-color: #666;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
    transform: scale(1.03);
}


input[type="radio"] {
    display: none;
}


.genders__choose {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px 3px;
    border: 1px solid #666;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    background: #f0f0f0;
    color: #333;
}

.genders__choose:hover {
    background-color: #ddd;
}

input[type="radio"]:checked + label {
    background-color: #666;
    color: white;
    border-color: #444;
}

.checkbox-container input[type="checkbox"] {
    display: none; /* скрываем стандартный чекбокс */
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    user-select: none;
}

.checkbox-container .checkmark {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid #666;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.checkbox-container .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.checkbox-container input:checked + .checkmark::after {
    display: block;
}

.checkbox-container input:checked + .checkmark {
    background-color: green;
    border-color: #444;
}


label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
}
